<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway|Cabin|Roboto|Cormorant+Garamond&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/da5655adfb.js" crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	
	<title>Plenty of Dish</title>
</head>

<body>
<div class="container">
	<!-- Home Header -->
	<header class="row">
		<a href="{{ url_for('home')}}" id="logo" class="col s12 center">Plenty of Dish</a>
	</header>
	<!-- Share and Search section-->
	<nav id="navbar" class="row blue-grey lighten-3">
		<form id="nav-form" class="row col m6 s12" action="{{ url_for('recipes')}}" method="POST">
			<i id="home-search-icon" class="col s2 material-icons center">search</i>
			<input id="nav-input" name="search_name" type="search" class="input-field col s7 m6 l8 center white" placeholder="Search">
			<button id="nav-button" class="btn waves-effect waves-light col s1" type="submit" name="action">GO</button>
		</form>
		<div id="share-recipe" class="row">
			<a href="{{ url_for('share_your_recipe')}}" id="nav-your-recipe-link" class="col l5 s12 center">Share Your Recipe</a>
		</div>
	</nav>
{% block content %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">M.AutoInit();</script>
</body>
</html>