{% extends 'base.html' %}
{% block content %}
	<!-- Cookbook Main Wrapper-->
	<div class="col s12 m9">
		<!-- Card -->		
		{% for recipe in recipes %}
		<div class="cookbook-card-section card col s12 m4 left">
			<!-- Card-Outside -->
			<div class="card-image waves-effect waves-block waves-light" style="overflow: auto; height: auto;">
				<img class="activator" src="../static/images/{{ recipe.image }}">
			</div>
			<div class="card-content">
				<span class="card-title activator found-title" for="recipe_title">{{recipe.recipe_title}}
					<i id="more-vert" class="material-icons right">more_vert</i>
				</span>
				<a id="read-more-a" href="{{ url_for('edit_recipe', recipe_id = recipe._id) }}" style="margin-bottom: 5px;">Read more...</a>
			</div>	
		<!-- Card-Inside -->	
		<div class="card-reveal">
			<div class="row">
				<span id="card-title-reveal" class="card-title col s12">{{recipe.recipe_title}}	<i id="close-card" class="material-icons right">close</i>
				</span>
			</div>
			<div class="row">
				<!-- Rank -->
				{% if recipe.score %}
				<p class="col s6"> 
					{% for x in range(recipe.score // recipe.votes)%}
					<i id="card-star" class="material-icons">star</i>
					{% endfor %}
				</p>
				{% else %}
				<p class="col s6"> Waiting for your vote...</p>
				{% endif %}				
				<div class="col s6">
					<!-- Veg -->
					<div class="input-field col s3">
					{% if recipe.vegeterian %}
					<i id="card-veg" class="fas fa-carrot tooltipped" id="vege-icon" name="vegeterian" data-position="bottom" data-tooltip="Vegeterian"></i>
					{% endif %}
					</div>
					<!-- Hot -->
					<div class="input-field col s3">
					{% if recipe.hot %}
					<i id="card-hot" class="fab fa-hotjar tooltipped" id="hot-icon" name="hot" data-position="bottom" data-tooltip="Hot"></i>
					{% endif %}
					</div>
				</div>
			</div><!-- rank/veg/hot -->
			<!-- Short Desc -->
			<div class="row update-desc">
				<div class="col s12">
					<p id="cookbook-short" name="short">{{recipe.short}}</p>
				</div>
			</div>
		</div><!-- card-reveal -->	
		</div><!-- Card -->		
		{% endfor %}	
	</div><!-- Cookbook Main Wrapper-->
</div><!-- base.html Main wrapper ENDS HERE!-->
{% endblock %} 